_/aws-ch13-samples/src/main/wsdl/CMISWS-Service.wsdl

<?xml version="1.0" encoding="utf-8" standalone="no"?>
<!--
		$Revision: 65 $
		$Date: 2009-08-30 08:18:30 -0700 (Sun, 30 Aug 2009) $
		$Author: fmueller $
		$HeadURL: http://tools.oasis-open.org/version-control/svn/cmis/trunk/SchemaProject/schema/CMISWS-Service.wsdl $
	-->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:cmis="http://docs.oasis-open.org/ns/cmis/core/200908/" xmlns:cmism="http://docs.oasis-open.org/ns/cmis/messaging/200908/" xmlns:cmisw="http://docs.oasis-open.org/ns/cmis/ws/200908/" xmlns:jaxws="http://java.sun.com/xml/ns/jaxws" xmlns:ns="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CMISWebServices" targetNamespace="http://docs.oasis-open.org/ns/cmis/ws/200908/">
	<types>
		<xsd:schema elementFormDefault="qualified" targetNamespace="http://docs.oasis-open.org/ns/cmis/ws/200908/">
			<xsd:import namespace="http://docs.oasis-open.org/ns/cmis/core/200908/" schemaLocation="CMIS-Core.xsd"/>
			<xsd:import namespace="http://docs.oasis-open.org/ns/cmis/messaging/200908/" schemaLocation="CMIS-Messaging.xsd"/>
		</xsd:schema>
	</types>

	<message name="cmisException">
		<part element="cmism:cmisFault" name="fault"/>
	</message>

	<message name="getACLRequest">
		<part element="cmism:getACL" name="parameters"/>
	</message>
	<message name="getACLResponse">
		<part element="cmism:getACLResponse" name="parameters"/>
	</message>

	<message name="applyACLRequest">
		<part element="cmism:applyACL" name="parameters"/>
	</message>
	<message name="applyACLResponse">
		<part element="cmism:applyACLResponse" name="parameters"/>
	</message>

	<message name="queryRequest">
		<part element="cmism:query" name="parameters"/>
	</message>
	<message name="queryResponse">
		<part element="cmism:queryResponse" name="parameters"/>
	</message>
	<message name="getContentChangesRequest">
		<part element="cmism:getContentChanges" name="parameters"/>
	</message>
	<message name="getContentChangesResponse">
		<part element="cmism:getContentChangesResponse" name="parameters"/>
	</message>

	<message name="addObjectToFolderRequest">
		<part element="cmism:addObjectToFolder" name="parameters"/>
	</message>
	<message name="addObjectToFolderResponse">
		<part element="cmism:addObjectToFolderResponse" name="parameters"/>
	</message>
	<message name="removeObjectFromFolderRequest">
		<part element="cmism:removeObjectFromFolder" name="parameters"/>
	</message>
	<message name="removeObjectFromFolderResponse">
		<part element="cmism:removeObjectFromFolderResponse" name="parameters"/>
	</message>

	<message name="getDescendantsRequest">
		<part element="cmism:getDescendants" name="parameters"/>
	</message>
	<message name="getDescendantsResponse">
		<part element="cmism:getDescendantsResponse" name="parameters"/>
	</message>
	<message name="getChildrenRequest">
		<part element="cmism:getChildren" name="parameters"/>
	</message>
	<message name="getChildrenResponse">
		<part element="cmism:getChildrenResponse" name="parameters"/>
	</message>
	<message name="getFolderParentRequest">
		<part element="cmism:getFolderParent" name="parameters"/>
	</message>
	<message name="getFolderParentResponse">
		<part element="cmism:getFolderParentResponse" name="parameters"/>
	</message>
	<message name="getObjectParentsRequest">
		<part element="cmism:getObjectParents" name="parameters"/>
	</message>
	<message name="getObjectParentsResponse">
		<part element="cmism:getObjectParentsResponse" name="parameters"/>
	</message>
	<message name="getRenditionsRequest">
		<part element="cmism:getRenditions" name="parameters"/>
	</message>
	<message name="getRenditionsResponse">
		<part element="cmism:getRenditionsResponse" name="parameters"/>
	</message>
	<message name="getCheckedOutDocsRequest">
		<part element="cmism:getCheckedOutDocs" name="parameters"/>
	</message>
	<message name="getCheckedOutDocsResponse">
		<part element="cmism:getCheckedOutDocsResponse" name="parameters"/>
	</message>

	<message name="createDocumentRequest">
		<part element="cmism:createDocument" name="parameters"/>
	</message>
	<message name="createDocumentResponse">
		<part element="cmism:createDocumentResponse" name="parameters"/>
	</message>
	<message name="createDocumentFromSourceRequest">
		<part element="cmism:createDocumentFromSource" name="parameters"/>
	</message>
	<message name="createDocumentFromSourceResponse">
		<part element="cmism:createDocumentFromSourceResponse" name="parameters"/>
	</message>
	<message name="createFolderRequest">
		<part element="cmism:createFolder" name="parameters"/>
	</message>
	<message name="createFolderResponse">
		<part element="cmism:createFolderResponse" name="parameters"/>
	</message>
	<message name="createRelationshipRequest">
		<part element="cmism:createRelationship" name="parameters"/>
	</message>
	<message name="createRelationshipResponse">
		<part element="cmism:createRelationshipResponse" name="parameters"/>
	</message>
	<message name="createPolicyRequest">
		<part element="cmism:createPolicy" name="parameters"/>
	</message>
	<message name="createPolicyResponse">
		<part element="cmism:createPolicyResponse" name="parameters"/>
	</message>
	<message name="getAllowableActionsRequest">
		<part element="cmism:getAllowableActions" name="parameters"/>
	</message>
	<message name="getAllowableActionsResponse">
		<part element="cmism:getAllowableActionsResponse" name="parameters"/>
	</message>
	<message name="getObjectRequest">
		<part element="cmism:getObject" name="parameters"/>
	</message>
	<message name="getObjectResponse">
		<part element="cmism:getObjectResponse" name="parameters"/>
	</message>
	<message name="getPropertiesRequest">
		<part element="cmism:getProperties" name="parameters"/>
	</message>
	<message name="getPropertiesResponse">
		<part element="cmism:getPropertiesResponse" name="parameters"/>
	</message>

	<message name="getObjectByPathRequest">
		<part element="cmism:getObjectByPath" name="parameters"/>
	</message>
	<message name="getObjectByPathResponse">
		<part element="cmism:getObjectByPathResponse" name="parameters"/>
	</message>

	<message name="getContentStreamRequest">
		<part element="cmism:getContentStream" name="parameters"/>
	</message>
	<message name="getContentStreamResponse">
		<part element="cmism:getContentStreamResponse" name="parameters"/>
	</message>
	<message name="updatePropertiesRequest">
		<part element="cmism:updateProperties" name="parameters"/>
	</message>
	<message name="updatePropertiesResponse">
		<part element="cmism:updatePropertiesResponse" name="parameters"/>
	</message>
	<message name="moveObjectRequest">
		<part element="cmism:moveObject" name="parameters"/>
	</message>
	<message name="moveObjectResponse">
		<part element="cmism:moveObjectResponse" name="parameters"/>
	</message>
	<message name="deleteObjectRequest">
		<part element="cmism:deleteObject" name="parameters"/>
	</message>
	<message name="deleteObjectResponse">
		<part element="cmism:deleteObjectResponse" name="parameters"/>
	</message>
	<message name="deleteTreeRequest">
		<part element="cmism:deleteTree" name="parameters"/>
	</message>
	<message name="deleteTreeResponse">
		<part element="cmism:deleteTreeResponse" name="parameters"/>
	</message>
	<message name="setContentStreamRequest">
		<part element="cmism:setContentStream" name="parameters"/>
	</message>
	<message name="setContentStreamResponse">
		<part element="cmism:setContentStreamResponse" name="parameters"/>
	</message>
	<message name="deleteContentStreamRequest">
		<part element="cmism:deleteContentStream" name="parameters"/>
	</message>
	<message name="deleteContentStreamResponse">
		<part element="cmism:deleteContentStreamResponse" name="parameters"/>
	</message>

	<message name="applyPolicyRequest">
		<part element="cmism:applyPolicy" name="parameters"/>
	</message>
	<message name="applyPolicyResponse">
		<part element="cmism:applyPolicyResponse" name="parameters"/>
	</message>
	<message name="removePolicyRequest">
		<part element="cmism:removePolicy" name="parameters"/>
	</message>
	<message name="removePolicyResponse">
		<part element="cmism:removePolicyResponse" name="parameters"/>
	</message>
	<message name="getAppliedPoliciesRequest">
		<part element="cmism:getAppliedPolicies" name="parameters"/>
	</message>
	<message name="getAppliedPoliciesResponse">
		<part element="cmism:getAppliedPoliciesResponse" name="parameters"/>
	</message>

	<message name="getObjectRelationshipsRequest">
		<part element="cmism:getObjectRelationships" name="parameters"/>
	</message>
	<message name="getObjectRelationshipsResponse">
		<part element="cmism:getObjectRelationshipsResponse" name="parameters"/>
	</message>

	<message name="getRepositoriesRequest">
		<part element="cmism:getRepositories" name="parameters"/>
	</message>
	<message name="getRepositoriesResponse">
		<part element="cmism:getRepositoriesResponse" name="parameters"/>
	</message>
	<message name="getRepositoryInfoRequest">
		<part element="cmism:getRepositoryInfo" name="parameters"/>
	</message>
	<message name="getRepositoryInfoResponse">
		<part element="cmism:getRepositoryInfoResponse" name="parameters"/>
	</message>
	<message name="getTypeChildrenRequest">
		<part element="cmism:getTypeChildren" name="parameters"/>
	</message>
	<message name="getTypeChildrenResponse">
		<part element="cmism:getTypeChildrenResponse" name="parameters"/>
	</message>
	<message name="getTypeDescendantsRequest">
		<part element="cmism:getTypeDescendants" name="parameters"/>
	</message>
	<message name="getTypeDescendantsResponse">
		<part element="cmism:getTypeDescendantsResponse" name="parameters"/>
	</message>
	<message name="getTypeDefinitionRequest">
		<part element="cmism:getTypeDefinition" name="parameters"/>
	</message>
	<message name="getTypeDefinitionResponse">
		<part element="cmism:getTypeDefinitionResponse" name="parameters"/>
	</message>

	<message name="checkOutRequest">
		<part element="cmism:checkOut" name="parameters"/>
	</message>
	<message name="checkOutResponse">
		<part element="cmism:checkOutResponse" name="parameters"/>
	</message>
	<message name="cancelCheckOutRequest">
		<part element="cmism:cancelCheckOut" name="parameters"/>
	</message>
	<message name="cancelCheckOutResponse">
		<part element="cmism:cancelCheckOutResponse" name="parameters"/>
	</message>
	<message name="checkInRequest">
		<part element="cmism:checkIn" name="parameters"/>
	</message>
	<message name="checkInResponse">
		<part element="cmism:checkInResponse" name="parameters"/>
	</message>
	<message name="getObjectOfLatestVersionRequest">
		<part element="cmism:getObjectOfLatestVersion" name="parameters"/>
	</message>
	<message name="getObjectOfLatestVersionResponse">
		<part element="cmism:getObjectOfLatestVersionResponse" name="parameters"/>
	</message>	
	<message name="getPropertiesOfLatestVersionRequest">
		<part element="cmism:getPropertiesOfLatestVersion" name="parameters"/>
	</message>
	<message name="getPropertiesOfLatestVersionResponse">
		<part element="cmism:getPropertiesOfLatestVersionResponse" name="parameters"/>
	</message>
	<message name="getAllVersionsRequest">
		<part element="cmism:getAllVersions" name="parameters"/>
	</message>
	<message name="getAllVersionsResponse">
		<part element="cmism:getAllVersionsResponse" name="parameters"/>
	</message>

	<message name="getFolderTreeRequest">
		<part element="cmism:getFolderTree" name="parameters"/>
	</message>
	<message name="getFolderTreeResponse">
		<part element="cmism:getFolderTreeResponse" name="parameters"/>
	</message>

	<portType name="DiscoveryServicePort">
		<operation name="query">
			<input message="cmisw:queryRequest"/>
			<output message="cmisw:queryResponse"/>
			<fault message="cmisw:cmisException" name="cmisException"/>
		</operation>
		<operation name="getContentChanges">
			<input message="cmisw:getContentChangesRequest"/>
			<output message="cmisw:getContentChangesResponse"/>
			<fault message="cmisw:cmisException" name="cmisException"/>
		</operation>
	</portType>

	<portType name="MultiFilingServicePort">
		<operation name="addObjectToFolder">
			<input message="cmisw:addObjectToFolderRequest"/>
			<output message="cmisw:addObjectToFolderResponse"/>
			<fault message="cmisw:cmisException" name="cmisException"/>
		</operation>
		<operation name="removeObjectFromFolder">
			<input message="cmisw:removeObjectFromFolderRequest"/>
			<output message="cmisw:removeObjectFromFolderResponse"/>
			<fault message="cmisw:cmisException" name="cmisException"/>
		</operation>
	</portType>
	<portType name="NavigationServicePort">
		<operation name="getDescendants">
			<input message="cmisw:getDescendantsRequest"/>
			<output message="cmisw:getDescendantsResponse"/>
			<fault message="cmisw:cmisException" name="cmisException"/>
		</operation>
		<operation name="getChildren">
			<input message="cmisw:getChildrenRequest"/>
			<output message="cmisw:getChildrenResponse"/>
			<fault message="cmisw:cmisException" name="cmisException"/>
		</operation>
		<operation name="getFolderParent">
			<input message="cmisw:getFolderParentRequest"/>
			<output message="cmisw:getFolderParentResponse"/>
			<fault message="cmisw:cmisException" name="cmisException"/>
		</operation>
		<operation name="getFolderTree">
			<input message="cmisw:getFolderTreeRequest"/>
			<output message="cmisw:getFolderTreeResponse"/>
			<fault message="cmisw:cmisException" name="cmisException"/>
		</operation>
		<operation name="getObjectParents">
			<input message="cmisw:getObjectParentsRequest"/>
			<output message="cmisw:getObjectParentsResponse"/>
			<fault message="cmisw:cmisException" name="cmisException"/>
		</operation>
		<operation name="getCheckedOutDocs">
			<input message="cmisw:getCheckedOutDocsRequest"/>
			<output message="cmisw:getCheckedOutDocsResponse"/>
			<fault message="cmisw:cmisException" name="cmisException"/>
		</operation>
	</portType>
	<portType name="ObjectServicePort">
		<operation name="createDocument">
			<input message="cmisw:createDocumentRequest"/>
			<output message="cmisw:createDocumentResponse"/>
			<fault message="cmisw:cmisException" name="cmisException"/>
		</operation>
		<operation name="createDocumentFromSource">
			<input message="cmisw:createDocumentFromSourceRequest"/>
			<output message="cmisw:createDocumentFromSourceResponse"/>
			<fault message="cmisw:cmisException" name="cmisException"/>
		</operation>
		<operation name="createFolder">
			<input message="cmisw:createFolderRequest"/>
			<output message="cmisw:createFolderResponse"/>
			<fault message="cmisw:cmisException" name="cmisException"/>
		</operation>
		<operation name="createRelationship">
			<input message="cmisw:createRelationshipRequest"/>
			<output message="cmisw:createRelationshipResponse"/>
			<fault message="cmisw:cmisException" name="cmisException"/>
		</operation>
		<operation name="createPolicy">
			<input message="cmisw:createPolicyRequest"/>
			<output message="cmisw:createPolicyResponse"/>
			<fault message="cmisw:cmisException" name="cmisException"/>
		</operation>
		<operation name="getAllowableActions">
			<input message="cmisw:getAllowableActionsRequest"/>
			<output message="cmisw:getAllowableActionsResponse"/>
			<fault message="cmisw:cmisException" name="cmisException"/>
		</operation>
		<operation name="getObject">
			<input message="cmisw:getObjectRequest"/>
			<output message="cmisw:getObjectResponse"/>
			<fault message="cmisw:cmisException" name="cmisException"/>
		</operation>
		<operation name="getProperties">
			<input message="cmisw:getPropertiesRequest"/>
			<output message="cmisw:getPropertiesResponse"/>
			<fault message="cmisw:cmisException" name="cmisException"/>
		</operation>
		<operation name="getRenditions">
			<input message="cmisw:getRenditionsRequest"/>
			<output message="cmisw:getRenditionsResponse"/>
			<fault message="cmisw:cmisException" name="cmisException"/>
		</operation>
		<operation name="getObjectByPath">
			<input message="cmisw:getObjectByPathRequest"/>
			<output message="cmisw:getObjectByPathResponse"/>
			<fault message="cmisw:cmisException" name="cmisException"/>
		</operation>
		<operation name="getContentStream">
			<input message="cmisw:getContentStreamRequest"/>
			<output message="cmisw:getContentStreamResponse"/>
			<fault message="cmisw:cmisException" name="cmisException"/>
		</operation>
		<operation name="updateProperties">
			<input message="cmisw:updatePropertiesRequest"/>
			<output message="cmisw:updatePropertiesResponse"/>
			<fault message="cmisw:cmisException" name="cmisException"/>
		</operation>
		<operation name="moveObject">
			<input message="cmisw:moveObjectRequest"/>
			<output message="cmisw:moveObjectResponse"/>
			<fault message="cmisw:cmisException" name="cmisException"/>
		</operation>
		<operation name="deleteObject">
			<input message="cmisw:deleteObjectRequest"/>
			<output message="cmisw:deleteObjectResponse"/>
			<fault message="cmisw:cmisException" name="cmisException"/>
		</operation>
		<operation name="deleteTree">
			<input message="cmisw:deleteTreeRequest"/>
			<output message="cmisw:deleteTreeResponse"/>
			<fault message="cmisw:cmisException" name="cmisException"/>
		</operation>
		<operation name="setContentStream">
			<input message="cmisw:setContentStreamRequest"/>
			<output message="cmisw:setContentStreamResponse"/>
			<fault message="cmisw:cmisException" name="cmisException"/>
		</operation>
		<operation name="deleteContentStream">
			<input message="cmisw:deleteContentStreamRequest"/>
			<output message="cmisw:deleteContentStreamResponse"/>
			<fault message="cmisw:cmisException" name="cmisException"/>
		</operation>
	</portType>
	<portType name="PolicyServicePort">
		<operation name="applyPolicy">
			<input message="cmisw:applyPolicyRequest"/>
			<output message="cmisw:applyPolicyResponse"/>
			<fault message="cmisw:cmisException" name="cmisException"/>
		</operation>
		<operation name="removePolicy">
			<input message="cmisw:removePolicyRequest"/>
			<output message="cmisw:removePolicyResponse"/>
			<fault message="cmisw:cmisException" name="cmisException"/>
		</operation>
		<operation name="getAppliedPolicies">
			<input message="cmisw:getAppliedPoliciesRequest"/>
			<output message="cmisw:getAppliedPoliciesResponse"/>
			<fault message="cmisw:cmisException" name="cmisException"/>
		</operation>
	</portType>

	<portType name="RelationshipServicePort">
		<operation name="getObjectRelationships">
			<input message="cmisw:getObjectRelationshipsRequest"/>
			<output message="cmisw:getObjectRelationshipsResponse"/>
			<fault message="cmisw:cmisException" name="cmisException"/>
		</operation>
	</portType>
	<portType name="RepositoryServicePort">
		<operation name="getRepositories">
			<input message="cmisw:getRepositoriesRequest"/>
			<output message="cmisw:getRepositoriesResponse"/>
			<fault message="cmisw:cmisException" name="cmisException"/>
		</operation>
		<operation name="getRepositoryInfo">
			<input message="cmisw:getRepositoryInfoRequest"/>
			<output message="cmisw:getRepositoryInfoResponse"/>
			<fault message="cmisw:cmisException" name="cmisException"/>
		</operation>
		<operation name="getTypeChildren">
			<input message="cmisw:getTypeChildrenRequest"/>
			<output message="cmisw:getTypeChildrenResponse"/>
			<fault message="cmisw:cmisException" name="cmisException"/>
		</operation>
		<operation name="getTypeDescendants">
			<input message="cmisw:getTypeDescendantsRequest"/>
			<output message="cmisw:getTypeDescendantsResponse"/>
			<fault message="cmisw:cmisException" name="cmisException"/>
		</operation>
		<operation name="getTypeDefinition">
			<input message="cmisw:getTypeDefinitionRequest"/>
			<output message="cmisw:getTypeDefinitionResponse"/>
			<fault message="cmisw:cmisException" name="cmisException"/>
		</operation>
	</portType>
	<portType name="VersioningServicePort">
		<operation name="checkOut">
			<input message="cmisw:checkOutRequest"/>
			<output message="cmisw:checkOutResponse"/>
			<fault message="cmisw:cmisException" name="cmisException"/>
		</operation>
		<operation name="cancelCheckOut">
			<input message="cmisw:cancelCheckOutRequest"/>
			<output message="cmisw:cancelCheckOutResponse"/>
			<fault message="cmisw:cmisException" name="cmisException"/>
		</operation>
		<operation name="checkIn">
			<input message="cmisw:checkInRequest"/>
			<output message="cmisw:checkInResponse"/>
			<fault message="cmisw:cmisException" name="cmisException"/>
		</operation>
		<operation name="getObjectOfLatestVersion">
			<input message="cmisw:getObjectOfLatestVersionRequest"/>
			<output message="cmisw:getObjectOfLatestVersionResponse"/>
			<fault message="cmisw:cmisException" name="cmisException"/>
		</operation>
		<operation name="getPropertiesOfLatestVersion">
			<input message="cmisw:getPropertiesOfLatestVersionRequest"/>
			<output message="cmisw:getPropertiesOfLatestVersionResponse"/>
			<fault message="cmisw:cmisException" name="cmisException"/>
		</operation>
		<operation name="getAllVersions">
			<input message="cmisw:getAllVersionsRequest"/>
			<output message="cmisw:getAllVersionsResponse"/>
			<fault message="cmisw:cmisException" name="cmisException"/>
		</operation>
	</portType>
	<portType name="ACLServicePort">
		<operation name="getACL">
			<input message="cmisw:getACLRequest"/>
			<output message="cmisw:getACLResponse"/>
			<fault message="cmisw:cmisException" name="cmisException"/>
		</operation>
		<operation name="applyACL">
			<input message="cmisw:applyACLRequest"/>
			<output message="cmisw:applyACLResponse"/>
			<fault message="cmisw:cmisException" name="cmisException"/>
		</operation>
	</portType>


	<binding name="DiscoveryServicePortBinding" type="cmisw:DiscoveryServicePort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="query">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="cmisException">
				<soap:fault name="cmisException" use="literal"/>
			</fault>
		</operation>
		<operation name="getContentChanges">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="cmisException">
				<soap:fault name="cmisException" use="literal"/>
			</fault>
		</operation>
	</binding>
	<binding name="MultiFilingServicePortBinding" type="cmisw:MultiFilingServicePort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="addObjectToFolder">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="cmisException">
				<soap:fault name="cmisException" use="literal"/>
			</fault>
		</operation>
		<operation name="removeObjectFromFolder">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="cmisException">
				<soap:fault name="cmisException" use="literal"/>
			</fault>
		</operation>
	</binding>
	<binding name="NavigationServicePortBinding" type="cmisw:NavigationServicePort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="getDescendants">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="cmisException">
				<soap:fault name="cmisException" use="literal"/>
			</fault>
		</operation>
		<operation name="getChildren">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="cmisException">
				<soap:fault name="cmisException" use="literal"/>
			</fault>
		</operation>
		<operation name="getFolderParent">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="cmisException">
				<soap:fault name="cmisException" use="literal"/>
			</fault>
		</operation>
		<operation name="getFolderTree">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="cmisException">
				<soap:fault name="cmisException" use="literal"/>
			</fault>
		</operation>
		<operation name="getObjectParents">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="cmisException">
				<soap:fault name="cmisException" use="literal"/>
			</fault>
		</operation>
		<operation name="getCheckedOutDocs">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="cmisException">
				<soap:fault name="cmisException" use="literal"/>
			</fault>
		</operation>
	</binding>
	<binding name="ObjectServicePortBinding" type="cmisw:ObjectServicePort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="createDocument">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="cmisException">
				<soap:fault name="cmisException" use="literal"/>
			</fault>
		</operation>
		<operation name="createDocumentFromSource">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="cmisException">
				<soap:fault name="cmisException" use="literal"/>
			</fault>
		</operation>
		<operation name="createFolder">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="cmisException">
				<soap:fault name="cmisException" use="literal"/>
			</fault>
		</operation>
		<operation name="createRelationship">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="cmisException">
				<soap:fault name="cmisException" use="literal"/>
			</fault>
		</operation>
		<operation name="createPolicy">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="cmisException">
				<soap:fault name="cmisException" use="literal"/>
			</fault>
		</operation>
		<operation name="getAllowableActions">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="cmisException">
				<soap:fault name="cmisException" use="literal"/>
			</fault>
		</operation>
		<operation name="getObject">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="cmisException">
				<soap:fault name="cmisException" use="literal"/>
			</fault>
		</operation>
		<operation name="getProperties">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="cmisException">
				<soap:fault name="cmisException" use="literal"/>
			</fault>
		</operation>
		<operation name="getRenditions">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="cmisException">
				<soap:fault name="cmisException" use="literal"/>
			</fault>
		</operation>
		<operation name="getObjectByPath">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="cmisException">
				<soap:fault name="cmisException" use="literal"/>
			</fault>
		</operation>
		<operation name="getContentStream">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="cmisException">
				<soap:fault name="cmisException" use="literal"/>
			</fault>
		</operation>
		<operation name="updateProperties">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="cmisException">
				<soap:fault name="cmisException" use="literal"/>
			</fault>
		</operation>
		<operation name="moveObject">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="cmisException">
				<soap:fault name="cmisException" use="literal"/>
			</fault>
		</operation>
		<operation name="deleteObject">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="cmisException">
				<soap:fault name="cmisException" use="literal"/>
			</fault>
		</operation>
		<operation name="deleteTree">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="cmisException">
				<soap:fault name="cmisException" use="literal"/>
			</fault>
		</operation>
		<operation name="setContentStream">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="cmisException">
				<soap:fault name="cmisException" use="literal"/>
			</fault>
		</operation>
		<operation name="deleteContentStream">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="cmisException">
				<soap:fault name="cmisException" use="literal"/>
			</fault>
		</operation>
	</binding>
	<binding name="PolicyServicePortBinding" type="cmisw:PolicyServicePort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="applyPolicy">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="cmisException">
				<soap:fault name="cmisException" use="literal"/>
			</fault>
		</operation>
		<operation name="removePolicy">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="cmisException">
				<soap:fault name="cmisException" use="literal"/>
			</fault>
		</operation>
		<operation name="getAppliedPolicies">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="cmisException">
				<soap:fault name="cmisException" use="literal"/>
			</fault>
		</operation>
	</binding>
	<binding name="RelationshipServicePortBinding" type="cmisw:RelationshipServicePort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="getObjectRelationships">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="cmisException">
				<soap:fault name="cmisException" use="literal"/>
			</fault>
		</operation>
	</binding>
	<binding name="RepositoryServicePortBinding" type="cmisw:RepositoryServicePort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="getRepositories">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="cmisException">
				<soap:fault name="cmisException" use="literal"/>
			</fault>
		</operation>
		<operation name="getRepositoryInfo">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="cmisException">
				<soap:fault name="cmisException" use="literal"/>
			</fault>
		</operation>
		<operation name="getTypeChildren">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="cmisException">
				<soap:fault name="cmisException" use="literal"/>
			</fault>
		</operation>
		<operation name="getTypeDescendants">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="cmisException">
				<soap:fault name="cmisException" use="literal"/>
			</fault>
		</operation>
		<operation name="getTypeDefinition">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="cmisException">
				<soap:fault name="cmisException" use="literal"/>
			</fault>
		</operation>
	</binding>
	<binding name="VersioningServicePortBinding" type="cmisw:VersioningServicePort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="checkOut">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="cmisException">
				<soap:fault name="cmisException" use="literal"/>
			</fault>
		</operation>
		<operation name="cancelCheckOut">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="cmisException">
				<soap:fault name="cmisException" use="literal"/>
			</fault>
		</operation>
		<operation name="checkIn">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="cmisException">
				<soap:fault name="cmisException" use="literal"/>
			</fault>
		</operation>
		<operation name="getObjectOfLatestVersion">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="cmisException">
				<soap:fault name="cmisException" use="literal"/>
			</fault>
		</operation>
		<operation name="getPropertiesOfLatestVersion">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="cmisException">
				<soap:fault name="cmisException" use="literal"/>
			</fault>
		</operation>
		<operation name="getAllVersions">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="cmisException">
				<soap:fault name="cmisException" use="literal"/>
			</fault>
		</operation>
	</binding>
	<binding name="ACLServicePortBinding" type="cmisw:ACLServicePort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="getACL">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="cmisException">
				<soap:fault name="cmisException" use="literal"/>
			</fault>
		</operation>
		<operation name="applyACL">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="cmisException">
				<soap:fault name="cmisException" use="literal"/>
			</fault>
		</operation>
	</binding>


	<service name="DiscoveryService">
		<port binding="cmisw:DiscoveryServicePortBinding" name="DiscoveryServicePort">
			<soap:address location="http://cmis/services/DiscoveryService.DiscoveryServicePort"/>
		</port>
	</service>
	<service name="MultiFilingService">
		<port binding="cmisw:MultiFilingServicePortBinding" name="MultiFilingServicePort">
			<soap:address location="http://cmis/services/MultiFilingService.MultiFilingServicePort"/>
		</port>
	</service>
	<service name="NavigationService">
		<port binding="cmisw:NavigationServicePortBinding" name="NavigationServicePort">
			<soap:address location="http://cmis/services/NavigationService.NavigationServicePort"/>
		</port>
	</service>
	<service name="ObjectService">
		<port binding="cmisw:ObjectServicePortBinding" name="ObjectServicePort">
			<soap:address location="http://cmis/services/ObjectService.ObjectServicePort"/>
		</port>
	</service>
	<service name="PolicyService">
		<port binding="cmisw:PolicyServicePortBinding" name="PolicyServicePort">
			<soap:address location="http://cmis/services/PolicyService.PolicyServicePort"/>
		</port>
	</service>
	<service name="RelationshipService">
		<port binding="cmisw:RelationshipServicePortBinding" name="RelationshipServicePort">
			<soap:address location="http://cmis/services/RelationshipService.RelationshipServicePort"/>
		</port>
	</service>
	<service name="RepositoryService">
		<port binding="cmisw:RepositoryServicePortBinding" name="RepositoryServicePort">
			<soap:address location="http://cmis/services/RepositoryService.RepositoryServicePort"/>
		</port>
	</service>
	<service name="VersioningService">
		<port binding="cmisw:VersioningServicePortBinding" name="VersioningServicePort">
			<soap:address location="http://cmis/services/VersioningService.VersioningServicePort"/>
		</port>
	</service>
	<service name="ACLService">
		<port binding="cmisw:ACLServicePortBinding" name="ACLServicePort">
			<soap:address location="http://cmis/services/ACLService.ACLServicePort"/>
		</port>
	</service>

</definitions>
