_/aws-ch13-samples/src/main/wsdl/CMIS-Core.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--
		$Revision: 137 $ $Date: 2009-10-21 15:50:27 -0700 (Wed, 21 Oct 2009) $
		$Author: albertcbrown $ $HeadURL:
		http://tools.oasis-open.org/version-control/svn/cmis/trunk/SchemaProject/schema/CMIS-Core.xsd
		$
	-->
<xs:schema xmlns:atom="http://www.w3.org/2005/Atom" xmlns:cmis="http://docs.oasis-open.org/ns/cmis/core/200908/" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" xmlns:xhtml="http://www.w3.org/1999/xhtml" xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" jaxb:extensionBindingPrefixes="xjc" jaxb:version="2.1" targetNamespace="http://docs.oasis-open.org/ns/cmis/core/200908/" version="1.0">

	<!--  enums -->
	<xs:simpleType name="enumDecimalPrecision">
		<xs:restriction base="xs:integer">
			<xs:enumeration value="32"/>
			<xs:enumeration value="64"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="enumContentStreamAllowed">
		<xs:restriction base="xs:string">
			<xs:enumeration value="notallowed"/>
			<xs:enumeration value="allowed"/>
			<xs:enumeration value="required"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="enumCardinality">
		<xs:restriction base="xs:string">
			<xs:enumeration value="single"/>
			<xs:enumeration value="multi"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="enumUpdatability">
		<xs:restriction base="xs:string">
			<xs:enumeration value="readonly"/>
			<xs:enumeration value="readwrite"/>
			<xs:enumeration value="whencheckedout"/>
			<xs:enumeration value="oncreate"/>
		</xs:restriction>
	</xs:simpleType>
		<xs:simpleType name="enumDateTimeResolution">
		<xs:restriction base="xs:string">
			<xs:enumeration value="year"/>
			<xs:enumeration value="date"/>
			<xs:enumeration value="time"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="enumPropertyType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="boolean"/>
			<xs:enumeration value="id"/>
			<xs:enumeration value="integer"/>
			<xs:enumeration value="datetime"/>
			<xs:enumeration value="decimal"/>
			<xs:enumeration value="html"/>
			<xs:enumeration value="string"/>
			<xs:enumeration value="uri"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="enumBaseObjectTypeIds">
		<xs:restriction base="xs:string">
			<xs:enumeration value="cmis:document"/>
			<xs:enumeration value="cmis:folder"/>
			<xs:enumeration value="cmis:relationship"/>
			<xs:enumeration value="cmis:policy"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="enumCapabilityQuery">
		<xs:restriction base="xs:string">
			<xs:enumeration value="none"/>
			<xs:enumeration value="metadataonly"/>
			<xs:enumeration value="fulltextonly"/>
			<xs:enumeration value="bothseparate"/>
			<xs:enumeration value="bothcombined"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="enumCapabilityJoin">
		<xs:restriction base="xs:string">
			<xs:enumeration value="none"/>
			<xs:enumeration value="inneronly"/>
			<xs:enumeration value="innerandouter"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="enumCapabilityContentStreamUpdates">
		<xs:restriction base="xs:string">
			<xs:enumeration value="anytime"/>
			<xs:enumeration value="pwconly"/>
			<xs:enumeration value="none"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="enumVersioningState">
		<xs:restriction base="xs:string">
			<xs:enumeration value="none"/>
			<xs:enumeration value="checkedout"/>
			<xs:enumeration value="minor"/>
			<xs:enumeration value="major"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="enumUnfileObject">
		<xs:restriction base="xs:string">
			<xs:enumeration value="unfile"/>
			<xs:enumeration value="deletesinglefiled"/>
			<xs:enumeration value="delete"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="enumRelationshipDirection">
		<xs:restriction base="xs:string">
			<xs:enumeration value="source"/>
			<xs:enumeration value="target"/>
			<xs:enumeration value="either"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="enumIncludeRelationships">
		<xs:restriction base="xs:string">
			<xs:enumeration value="none"/>
			<xs:enumeration value="source"/>
			<xs:enumeration value="target"/>
			<xs:enumeration value="both"/>
		</xs:restriction>
	</xs:simpleType>

	<!--  properties in CMIS -->
	<xs:simpleType name="enumPropertiesBase">
		<xs:restriction base="xs:string">
			<xs:enumeration value="cmis:name"/>
			<xs:enumeration value="cmis:objectId"/>
			<xs:enumeration value="cmis:objectTypeId"/>
			<xs:enumeration value="cmis:baseTypeId"/>
			<xs:enumeration value="cmis:createdBy"/>
			<xs:enumeration value="cmis:creationDate"/>
			<xs:enumeration value="cmis:lastModifiedBy"/>
			<xs:enumeration value="cmis:lastModificationDate"/>
			<xs:enumeration value="cmis:changeToken"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="enumPropertiesDocument">
		<xs:restriction base="xs:string">
			<xs:enumeration value="cmis:isImmutable"/>
			<xs:enumeration value="cmis:isLatestVersion"/>
			<xs:enumeration value="cmis:isMajorVersion"/>
			<xs:enumeration value="cmis:isLatestMajorVersion"/>
			<xs:enumeration value="cmis:versionLabel"/>
			<xs:enumeration value="cmis:versionSeriesId"/>
			<xs:enumeration value="cmis:isVersionSeriesCheckedOut"/>
			<xs:enumeration value="cmis:versionSeriesCheckedOutBy"/>
			<xs:enumeration value="cmis:versionSeriesCheckedOutId"/>
			<xs:enumeration value="cmis:checkinComment"/>
			<xs:enumeration value="cmis:contentStreamLength"/>
			<xs:enumeration value="cmis:contentStreamMimeType"/>
			<xs:enumeration value="cmis:contentStreamFileName"/>
			<xs:enumeration value="cmis:contentStreamId"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="enumPropertiesFolder">
		<xs:restriction base="xs:string">
			<xs:enumeration value="cmis:parentId"/>
			<xs:enumeration value="cmis:allowedChildObjectTypeIds"/>
			<xs:enumeration value="cmis:path"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="enumPropertiesRelationship">
		<xs:restriction base="xs:string">
			<xs:enumeration value="cmis:sourceId"/>
			<xs:enumeration value="cmis:targetId"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="enumPropertiesPolicy">
		<xs:restriction base="xs:string">
			<xs:enumeration value="cmis:policyText"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:attributeGroup name="cmisUndefinedAttribute">
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:attributeGroup>

	<!--  main cmis object -->
	<xs:complexType name="cmisObjectType">
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="0" name="properties" type="cmis:cmisPropertiesType"/>
			<xs:element maxOccurs="1" minOccurs="0" name="allowableActions" type="cmis:cmisAllowableActionsType"/>

			<xs:element maxOccurs="unbounded" minOccurs="0" name="relationship" type="cmis:cmisObjectType"/>

			<!--  if change log -->
			<xs:element maxOccurs="1" minOccurs="0" name="changeEventInfo" type="cmis:cmisChangeEventType"/>

			<!--  ACL -->
			<xs:element maxOccurs="1" minOccurs="0" name="acl" type="cmis:cmisAccessControlListType"/>

			<xs:element maxOccurs="1" minOccurs="0" name="exactACL" type="xs:boolean"/>

			<!-- Applied Policy IDs -->
			<xs:element maxOccurs="1" minOccurs="0" name="policyIds" type="cmis:cmisListOfIdsType"/>

			<!--  Rendition -->
			<xs:element maxOccurs="unbounded" minOccurs="0" name="rendition" type="cmis:cmisRenditionType"/>

			<!--  extensions -->
			<xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
		</xs:sequence>
		<xs:attributeGroup ref="cmis:cmisUndefinedAttribute"/>
	</xs:complexType>


	<!-- property bag -->
	<xs:attribute name="key" type="xs:string"/>
	<xs:attribute name="index" type="xs:integer"/>

	<xs:complexType name="cmisPropertiesType">
		<xs:sequence>
			<xs:choice maxOccurs="unbounded" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<jaxb:property name="property"/>
					</xs:appinfo>
				</xs:annotation>
				<xs:element name="propertyBoolean" nillable="true" type="cmis:cmisPropertyBoolean"/>
				<xs:element name="propertyId" nillable="true" type="cmis:cmisPropertyId"/>
				<xs:element name="propertyInteger" nillable="true" type="cmis:cmisPropertyInteger"/>
				<xs:element name="propertyDateTime" nillable="true" type="cmis:cmisPropertyDateTime"/>
				<xs:element name="propertyDecimal" nillable="true" type="cmis:cmisPropertyDecimal"/>
				<xs:element name="propertyHtml" nillable="true" type="cmis:cmisPropertyHtml"/>
				<xs:element name="propertyString" nillable="true" type="cmis:cmisPropertyString"/>
				<xs:element name="propertyUri" nillable="true" type="cmis:cmisPropertyUri"/>
			</xs:choice>
			<xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
		</xs:sequence>
		<xs:attributeGroup ref="cmis:cmisUndefinedAttribute"/>
	</xs:complexType>


	<!-- start the prop definitions -->
	<xs:complexType name="cmisProperty">
		<xs:attribute name="propertyDefinitionId" use="optional">
			<xs:annotation>
				<xs:documentation>
					This is the property definition id for this
					property instance. This is
					not required to be set when used as a
					default value. This is
					required to be set when used for query result
					set or returning
					properties on an object.
		</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="localName" use="optional">
			<xs:annotation>
				<xs:documentation>
					This is the localname as defined by the property
					definition
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="displayName" use="optional">
			<xs:annotation>
				<xs:documentation>
					This is the displayname as defined by the property
					definition
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="queryName" use="optional">
			<xs:annotation>
				<xs:documentation>
					This is the queryName. This must be specified if
					this is the result of a query. If aliases are used, the alias is to
					be specified here instead of the queryName.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attributeGroup ref="cmis:cmisUndefinedAttribute"/>
	</xs:complexType>
	<xs:complexType name="cmisPropertyBoolean">
		<xs:complexContent>
			<xs:extension base="cmis:cmisProperty">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="value" type="xs:boolean"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="cmisPropertyId">
		<xs:complexContent>
			<xs:extension base="cmis:cmisProperty">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="value" type="xs:string"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="cmisPropertyInteger">
		<xs:complexContent>
			<xs:extension base="cmis:cmisProperty">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="value" type="xs:integer"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="cmisPropertyDateTime">
		<xs:complexContent>
			<xs:extension base="cmis:cmisProperty">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="value" type="xs:dateTime"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="cmisPropertyDecimal">
		<xs:complexContent>
			<xs:extension base="cmis:cmisProperty">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="value" type="xs:decimal"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="cmisPropertyHtml">
		<xs:complexContent>
			<xs:extension base="cmis:cmisProperty">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="value" type="xs:string"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>


	<xs:complexType name="cmisPropertyString">
		<xs:complexContent>
			<xs:extension base="cmis:cmisProperty">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="value" type="xs:string"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="cmisPropertyUri">
		<xs:complexContent>
			<xs:extension base="cmis:cmisProperty">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="value" type="xs:anyURI"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>


	<!-- cmis choice -->
	<xs:complexType name="cmisChoice">
		<xs:attribute name="displayName" use="required"/>
		<xs:attributeGroup ref="cmis:cmisUndefinedAttribute"/>
	</xs:complexType>
	<xs:complexType name="cmisChoiceBoolean">
		<xs:complexContent>
			<xs:extension base="cmis:cmisChoice">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="value" type="xs:boolean"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="choice" type="cmis:cmisChoiceBoolean"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="cmisChoiceId">
		<xs:complexContent>
			<xs:extension base="cmis:cmisChoice">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="value" type="xs:string"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="choice" type="cmis:cmisChoiceId"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="cmisChoiceInteger">
		<xs:complexContent>
			<xs:extension base="cmis:cmisChoice">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="value" type="xs:integer"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="choice" type="cmis:cmisChoiceInteger"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="cmisChoiceDateTime">
		<xs:complexContent>
			<xs:extension base="cmis:cmisChoice">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="value" type="xs:dateTime"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="choice" type="cmis:cmisChoiceDateTime"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="cmisChoiceDecimal">
		<xs:complexContent>
			<xs:extension base="cmis:cmisChoice">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="value" type="xs:decimal"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="choice" type="cmis:cmisChoiceDecimal"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="cmisChoiceHtml">
		<xs:complexContent>
			<xs:extension base="cmis:cmisChoice">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="value" type="xs:string"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="choice" type="cmis:cmisChoiceHtml"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="cmisChoiceString">
		<xs:complexContent>
			<xs:extension base="cmis:cmisChoice">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="value" type="xs:string"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="choice" type="cmis:cmisChoiceString"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="cmisChoiceUri">
		<xs:complexContent>
			<xs:extension base="cmis:cmisChoice">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="value" type="xs:anyURI"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="choice" type="cmis:cmisChoiceUri"/>
				</xs:sequence>

			</xs:extension>
		</xs:complexContent>
	</xs:complexType>


	<!--  allowable actions -->
	<xs:complexType name="cmisAllowableActionsType">
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="0" name="canDeleteObject" type="xs:boolean"/>
			<xs:element maxOccurs="1" minOccurs="0" name="canUpdateProperties" type="xs:boolean"/>
			<xs:element maxOccurs="1" minOccurs="0" name="canGetFolderTree" type="xs:boolean"/>
			<xs:element maxOccurs="1" minOccurs="0" name="canGetProperties" type="xs:boolean"/>
			<xs:element maxOccurs="1" minOccurs="0" name="canGetObjectRelationships" type="xs:boolean"/>
			<xs:element maxOccurs="1" minOccurs="0" name="canGetObjectParents" type="xs:boolean"/>
			<xs:element maxOccurs="1" minOccurs="0" name="canGetFolderParent" type="xs:boolean"/>
			<xs:element maxOccurs="1" minOccurs="0" name="canGetDescendants" type="xs:boolean"/>
			<xs:element maxOccurs="1" minOccurs="0" name="canMoveObject" type="xs:boolean"/>
			<xs:element maxOccurs="1" minOccurs="0" name="canDeleteContentStream" type="xs:boolean"/>
			<xs:element maxOccurs="1" minOccurs="0" name="canCheckOut" type="xs:boolean"/>
			<xs:element maxOccurs="1" minOccurs="0" name="canCancelCheckOut" type="xs:boolean"/>
			<xs:element maxOccurs="1" minOccurs="0" name="canCheckIn" type="xs:boolean"/>
			<xs:element maxOccurs="1" minOccurs="0" name="canSetContentStream" type="xs:boolean"/>
			<xs:element maxOccurs="1" minOccurs="0" name="canGetAllVersions" type="xs:boolean"/>
			<xs:element maxOccurs="1" minOccurs="0" name="canAddObjectToFolder" type="xs:boolean"/>
			<xs:element maxOccurs="1" minOccurs="0" name="canRemoveObjectFromFolder" type="xs:boolean"/>
			<xs:element maxOccurs="1" minOccurs="0" name="canGetContentStream" type="xs:boolean"/>
			<xs:element maxOccurs="1" minOccurs="0" name="canApplyPolicy" type="xs:boolean"/>
			<xs:element maxOccurs="1" minOccurs="0" name="canGetAppliedPolicies" type="xs:boolean"/>
			<xs:element maxOccurs="1" minOccurs="0" name="canRemovePolicy" type="xs:boolean"/>
			<xs:element maxOccurs="1" minOccurs="0" name="canGetChildren" type="xs:boolean"/>
			<xs:element maxOccurs="1" minOccurs="0" name="canCreateDocument" type="xs:boolean"/>
			<xs:element maxOccurs="1" minOccurs="0" name="canCreateFolder" type="xs:boolean"/>
			<xs:element maxOccurs="1" minOccurs="0" name="canCreateRelationship" type="xs:boolean"/>
			<xs:element maxOccurs="1" minOccurs="0" name="canCreatePolicy" type="xs:boolean"/>
			<xs:element maxOccurs="1" minOccurs="0" name="canDeleteTree" type="xs:boolean"/>

			<!-- renditions -->
			<xs:element maxOccurs="1" minOccurs="0" name="canGetRenditions" type="xs:boolean"/>

			<!-- ACL -->
			<xs:element maxOccurs="1" minOccurs="0" name="canGetACL" type="xs:boolean"/>
			<xs:element maxOccurs="1" minOccurs="0" name="canApplyACL" type="xs:boolean"/>

			<xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
		</xs:sequence>
		<xs:attributeGroup ref="cmis:cmisUndefinedAttribute"/>
	</xs:complexType>


	<xs:complexType name="cmisListOfIdsType">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="1" name="id" type="xs:string"/>

			<!--  extension -->
			<xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
		</xs:sequence>
		<xs:attributeGroup ref="cmis:cmisUndefinedAttribute"/>
	</xs:complexType>


	<!-- Property Attributes -->
	<xs:complexType name="cmisPropertyDefinitionType">
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="1" name="id" type="xs:string"/>
			<xs:element maxOccurs="1" minOccurs="1" name="localName" type="xs:string"/>
			<xs:element maxOccurs="1" minOccurs="0" name="localNamespace" type="xs:anyURI"/>
			<xs:element maxOccurs="1" minOccurs="0" name="displayName" type="xs:string"/>
			<xs:element maxOccurs="1" minOccurs="0" name="queryName" type="xs:string"/>
			<xs:element maxOccurs="1" minOccurs="0" name="description" type="xs:string"/>
			<xs:element maxOccurs="1" minOccurs="1" name="propertyType" type="cmis:enumPropertyType"/>
			<xs:element maxOccurs="1" minOccurs="1" name="cardinality" type="cmis:enumCardinality"/>
			<xs:element maxOccurs="1" minOccurs="1" name="updatability" type="cmis:enumUpdatability"/>

			<!-- flags -->
			<xs:element maxOccurs="1" minOccurs="0" name="inherited" type="xs:boolean"/>
			<xs:element maxOccurs="1" minOccurs="1" name="required" type="xs:boolean"/>
			<xs:element maxOccurs="1" minOccurs="1" name="queryable" type="xs:boolean"/>
			<xs:element maxOccurs="1" minOccurs="1" name="orderable" type="xs:boolean"/>

			<xs:element maxOccurs="1" minOccurs="0" name="openChoice" type="xs:boolean"/>

			<!--  extension -->
			<xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
		</xs:sequence>
		<xs:attributeGroup ref="cmis:cmisUndefinedAttribute"/>
	</xs:complexType>

	<!--  type specific definitions -->
	<xs:complexType name="cmisPropertyBooleanDefinitionType">
		<xs:complexContent>
			<xs:extension base="cmis:cmisPropertyDefinitionType">
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="0" name="defaultValue" type="cmis:cmisPropertyBoolean"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="choice" type="cmis:cmisChoiceBoolean"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="cmisPropertyIdDefinitionType">
		<xs:complexContent>
			<xs:extension base="cmis:cmisPropertyDefinitionType">
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="0" name="defaultValue" type="cmis:cmisPropertyId"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="choice" type="cmis:cmisChoiceId"/>

				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="cmisPropertyIntegerDefinitionType">
		<xs:complexContent>
			<xs:extension base="cmis:cmisPropertyDefinitionType">
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="0" name="defaultValue" type="cmis:cmisPropertyInteger"/>
					<xs:element maxOccurs="1" minOccurs="0" name="maxValue" type="xs:integer"/>
					<xs:element maxOccurs="1" minOccurs="0" name="minValue" type="xs:integer"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="choice" type="cmis:cmisChoiceInteger"/>

				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="cmisPropertyDateTimeDefinitionType">
		<xs:complexContent>
			<xs:extension base="cmis:cmisPropertyDefinitionType">
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="0" name="defaultValue" type="cmis:cmisPropertyDateTime"/>
					<xs:element maxOccurs="1" minOccurs="0" name="resolution" type="cmis:enumDateTimeResolution"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="choice" type="cmis:cmisChoiceDateTime"/>

				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="cmisPropertyDecimalDefinitionType">
		<xs:complexContent>
			<xs:extension base="cmis:cmisPropertyDefinitionType">
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="0" name="defaultValue" type="cmis:cmisPropertyDecimal"/>
					<xs:element maxOccurs="1" minOccurs="0" name="maxValue" type="xs:decimal"/>
					<xs:element maxOccurs="1" minOccurs="0" name="minValue" type="xs:decimal"/>
					<xs:element maxOccurs="1" minOccurs="0" name="precision" type="cmis:enumDecimalPrecision"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="choice" type="cmis:cmisChoiceDecimal"/>

				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="cmisPropertyHtmlDefinitionType">
		<xs:complexContent>
			<xs:extension base="cmis:cmisPropertyDefinitionType">
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="0" name="defaultValue" type="cmis:cmisPropertyHtml"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="choice" type="cmis:cmisChoiceHtml"/>

				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="cmisPropertyStringDefinitionType">
		<xs:complexContent>
			<xs:extension base="cmis:cmisPropertyDefinitionType">
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="0" name="defaultValue" type="cmis:cmisPropertyString"/>
					<xs:element maxOccurs="1" minOccurs="0" name="maxLength" type="xs:integer"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="choice" type="cmis:cmisChoiceString"/>

				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="cmisPropertyUriDefinitionType">
		<xs:complexContent>
			<xs:extension base="cmis:cmisPropertyDefinitionType">
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="0" name="defaultValue" type="cmis:cmisPropertyUri"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="choice" type="cmis:cmisChoiceUri"/>

				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>


	<!-- type definition -->
	<xs:complexType name="cmisTypeDefinitionType">
		<xs:sequence>
			<!--  primary identifying attribute -->
			<xs:element maxOccurs="1" minOccurs="1" name="id" type="xs:string"/>
			<xs:element maxOccurs="1" minOccurs="1" name="localName" type="xs:string"/>
			<xs:element maxOccurs="1" minOccurs="1" name="localNamespace" nillable="true" type="xs:anyURI"/>
			<xs:element maxOccurs="1" minOccurs="0" name="displayName" type="xs:string"/>
			<xs:element maxOccurs="1" minOccurs="0" name="queryName" type="xs:string"/>
			<xs:element maxOccurs="1" minOccurs="0" name="description" type="xs:string"/>

			<!--  base type -->
			<xs:element maxOccurs="1" minOccurs="1" name="baseId" type="cmis:enumBaseObjectTypeIds"/>

			<!-- parent -->
			<xs:element maxOccurs="1" minOccurs="0" name="parentId" type="xs:string">
				<xs:annotation>
					<xs:documentation>
						This is the id for the parent type definition. If
						this is a base type,
						this is not present.
			</xs:documentation>
				</xs:annotation>
			</xs:element>

			<!-- flags -->
			<xs:element maxOccurs="1" minOccurs="1" name="creatable" type="xs:boolean"/>
			<xs:element maxOccurs="1" minOccurs="1" name="fileable" type="xs:boolean"/>
			<xs:element maxOccurs="1" minOccurs="1" name="queryable" type="xs:boolean"/>
			<xs:element maxOccurs="1" minOccurs="1" name="fulltextIndexed" type="xs:boolean"/>
			<xs:element default="true" maxOccurs="1" minOccurs="1" name="includedInSupertypeQuery" type="xs:boolean"/>

			<!-- controllable -->
			<xs:element maxOccurs="1" minOccurs="1" name="controllablePolicy" type="xs:boolean"/>
			<xs:element maxOccurs="1" minOccurs="1" name="controllableACL" type="xs:boolean"/>

			<!-- property definitions -->
			<xs:choice maxOccurs="unbounded" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<jaxb:property name="propertyDefinition"/>
					</xs:appinfo>
				</xs:annotation>
				<xs:element name="propertyBooleanDefinition" type="cmis:cmisPropertyBooleanDefinitionType"/>
				<xs:element name="propertyDateTimeDefinition" type="cmis:cmisPropertyDateTimeDefinitionType"/>
				<xs:element name="propertyDecimalDefinition" type="cmis:cmisPropertyDecimalDefinitionType"/>
				<xs:element name="propertyIdDefinition" type="cmis:cmisPropertyIdDefinitionType"/>
				<xs:element name="propertyIntegerDefinition" type="cmis:cmisPropertyIntegerDefinitionType"/>
				<xs:element name="propertyHtmlDefinition" type="cmis:cmisPropertyHtmlDefinitionType"/>
				<xs:element name="propertyStringDefinition" type="cmis:cmisPropertyStringDefinitionType"/>
				<xs:element name="propertyUriDefinition" type="cmis:cmisPropertyUriDefinitionType"/>
			</xs:choice>

			<!-- extension -->
			<xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
		</xs:sequence>
		<xs:attributeGroup ref="cmis:cmisUndefinedAttribute"/>
	</xs:complexType>


	<!-- type specific typedefs -->
	<xs:complexType name="cmisTypeDocumentDefinitionType">
		<xs:complexContent>
			<xs:extension base="cmis:cmisTypeDefinitionType">
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="1" name="versionable" type="xs:boolean"/>
					<xs:element maxOccurs="1" minOccurs="1" name="contentStreamAllowed" type="cmis:enumContentStreamAllowed"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="cmisTypeFolderDefinitionType">
		<xs:complexContent>
			<xs:extension base="cmis:cmisTypeDefinitionType">
				<xs:sequence>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="cmisTypeRelationshipDefinitionType">
		<xs:complexContent>
			<xs:extension base="cmis:cmisTypeDefinitionType">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="allowedSourceTypes" type="xs:string"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="allowedTargetTypes" type="xs:string"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="cmisTypePolicyDefinitionType">
		<xs:complexContent>
			<xs:extension base="cmis:cmisTypeDefinitionType">
				<xs:sequence>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<!--  query -->
	<xs:complexType name="cmisQueryType">
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="0" name="repositoryId" type="xs:string"/>
			<xs:element maxOccurs="1" minOccurs="1" name="statement" type="xs:string"/>
			<xs:element maxOccurs="1" minOccurs="0" name="searchAllVersions" type="xs:boolean"/>

			<xs:element maxOccurs="1" minOccurs="0" name="includeAllowableActions" type="xs:boolean"/>
			<xs:element maxOccurs="1" minOccurs="0" name="includeRelationships" type="cmis:enumIncludeRelationships"/>
			<xs:element maxOccurs="1" minOccurs="0" name="renditionFilter" type="xs:string"/>

			<xs:element maxOccurs="1" minOccurs="0" name="maxItems" type="xs:integer"/>
			<xs:element maxOccurs="1" minOccurs="0" name="skipCount" type="xs:integer"/>

			<xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
		</xs:sequence>
		<xs:attributeGroup ref="cmis:cmisUndefinedAttribute"/>
	</xs:complexType>



	<!--  repository info -->
	<xs:complexType name="cmisRepositoryInfoType">
		<xs:sequence minOccurs="1">
			<xs:element maxOccurs="1" minOccurs="1" name="repositoryId" type="xs:string"/>
			<xs:element maxOccurs="1" minOccurs="1" name="repositoryName" type="xs:string"/>
			<xs:element maxOccurs="1" minOccurs="1" name="repositoryDescription" type="xs:string"/>
			<xs:element maxOccurs="1" minOccurs="1" name="vendorName" type="xs:string"/>
			<xs:element maxOccurs="1" minOccurs="1" name="productName" type="xs:string"/>
			<xs:element maxOccurs="1" minOccurs="1" name="productVersion" type="xs:string"/>
			<xs:element name="rootFolderId" type="xs:string"/>
			<xs:element minOccurs="0" name="latestChangeLogToken" type="xs:string"/>
			<xs:element maxOccurs="1" minOccurs="1" name="capabilities" type="cmis:cmisRepositoryCapabilitiesType"/>
			<xs:element maxOccurs="1" minOccurs="0" name="aclCapability" type="cmis:cmisACLCapabilityType"/>
			<xs:element maxOccurs="1" minOccurs="1" name="cmisVersionSupported" type="xs:decimal"/>
			<xs:element maxOccurs="1" minOccurs="0" name="thinClientURI" type="xs:anyURI"/>
			<xs:element maxOccurs="1" minOccurs="0" name="changesIncomplete" type="xs:boolean"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="changesOnType" type="cmis:enumBaseObjectTypeIds"/>

			<xs:element maxOccurs="1" minOccurs="0" name="principalAnonymous" type="xs:string">
				<xs:annotation>
					<xs:documentation>
						If set, this field holds the principal who is
						used for anonymous
						access. This principal can then be passed to the
						ACL services to
						specify what permissions anonymous users should
						have
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element maxOccurs="1" minOccurs="0" name="principalAnyone" type="xs:string">
				<xs:annotation>
					<xs:documentation>
						If set, this field holds the principal who is
						used for everyone's access. This principal can then be passed to
						the
						ACL services to
						specify what permissions everyone should
						have
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
		</xs:sequence>
		<xs:attributeGroup ref="cmis:cmisUndefinedAttribute"/>
	</xs:complexType>

	<xs:complexType name="cmisRepositoryCapabilitiesType">
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="1" name="capabilityACL" type="cmis:enumCapabilityACL"/>
			<xs:element maxOccurs="1" minOccurs="1" name="capabilityAllVersionsSearchable" type="xs:boolean"/>
			<xs:element name="capabilityChanges" type="cmis:enumCapabilityChanges"/>

			<xs:element maxOccurs="1" minOccurs="1" name="capabilityContentStreamUpdatability" type="cmis:enumCapabilityContentStreamUpdates"/>
			<xs:element maxOccurs="1" minOccurs="1" name="capabilityGetDescendants" type="xs:boolean"/>
			<xs:element maxOccurs="1" minOccurs="1" name="capabilityGetFolderTree" type="xs:boolean"/>

			<xs:element maxOccurs="1" minOccurs="1" name="capabilityMultifiling" type="xs:boolean"/>
			<xs:element maxOccurs="1" minOccurs="1" name="capabilityPWCSearchable" type="xs:boolean"/>
			<xs:element maxOccurs="1" minOccurs="1" name="capabilityPWCUpdatable" type="xs:boolean"/>
			<xs:element maxOccurs="1" minOccurs="1" name="capabilityQuery" type="cmis:enumCapabilityQuery"/>
			<xs:element maxOccurs="1" minOccurs="1" name="capabilityRenditions" type="cmis:enumCapabilityRendition"/>
			<xs:element maxOccurs="1" minOccurs="1" name="capabilityUnfiling" type="xs:boolean"/>
			<xs:element maxOccurs="1" minOccurs="1" name="capabilityVersionSpecificFiling" type="xs:boolean"/>
			<xs:element maxOccurs="1" minOccurs="1" name="capabilityJoin" type="cmis:enumCapabilityJoin"/>

			<!-- extension -->
			<xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="skip"/>
		</xs:sequence>
		<xs:attributeGroup ref="cmis:cmisUndefinedAttribute"/>
	</xs:complexType>

	<!-- Unified Search -->
	<xs:simpleType name="enumTypeOfChanges">
		<xs:restriction base="xs:string">
			<!-- content with a new ID has been created -->
			<xs:enumeration value="created"/>
			<!-- content with an existing ID has been modified -->
			<xs:enumeration value="updated"/>
			<!-- content with an existing ID has been deleted -->
			<xs:enumeration value="deleted"/>
			<!-- content with an existing ID has had its security policy changed-->
			<xs:enumeration value="security"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="enumCapabilityChanges">
		<xs:restriction base="xs:string">
			<xs:enumeration value="none"/>
			<xs:enumeration value="objectidsonly"/>
			<xs:enumeration value="properties"/>
			<xs:enumeration value="all"/>
		</xs:restriction>
	</xs:simpleType>



	<xs:complexType name="cmisChangeEventType">
		<xs:sequence>
			<xs:element name="changeType" type="cmis:enumTypeOfChanges"/>
			<xs:element name="changeTime" type="xs:dateTime"/>

			<!--  extension -->
			<xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
		</xs:sequence>
	</xs:complexType>

	<!-- ACL -->
	<xs:simpleType name="enumACLPropagation">
		<xs:restriction base="xs:string">
			<xs:enumeration value="repositorydetermined"/>
			<xs:enumeration value="objectonly"/>
			<xs:enumeration value="propagate"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="enumCapabilityACL">
		<xs:restriction base="xs:string">
			<xs:enumeration value="none"/>
			<xs:enumeration value="discover"/>
			<xs:enumeration value="manage"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="enumBasicPermissions">
		<xs:restriction base="xs:string">
			<xs:enumeration value="cmis:read"/>
			<xs:enumeration value="cmis:write"/>
			<xs:enumeration value="cmis:all"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="cmisPermissionDefinition">
		<xs:sequence>
			<xs:element name="permission" type="xs:string"/>
			<xs:element maxOccurs="1" minOccurs="0" name="description" type="xs:string"/>
			<xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="cmisPermissionMapping">
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="1" name="key" type="cmis:enumAllowableActionsKey"/>
			<xs:element maxOccurs="unbounded" minOccurs="1" name="permission" type="xs:string">
				<xs:annotation>
					<xs:documentation>
						Multiple entries are OR'ed together. Any
						permission that specified is
						sufficient to provide rights required
						in key
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
		</xs:sequence>
	</xs:complexType>


	<xs:simpleType name="enumAllowableActionsKey">
		<xs:restriction base="xs:string">
			<xs:enumeration value="canGetDescendents.Folder"/>
			<xs:enumeration value="canGetChildren.Folder"/>
			<xs:enumeration value="canGetParents.Folder"/>
			<xs:enumeration value="canGetFolderParent.Object"/>
			<xs:enumeration value="canCreateDocument.Type"/>
			<xs:enumeration value="canCreateDocument.Folder"/>
			<xs:enumeration value="canCreateFolder.Type"/>
			<xs:enumeration value="canCreateFolder.Folder"/>
			<xs:enumeration value="canCreateRelationship.Type"/>
			<xs:enumeration value="canCreateRelationship.Source"/>
			<xs:enumeration value="canCreateRelationship.Target"/>
			<xs:enumeration value="canCreatePolicy.Type"/>
			<xs:enumeration value="canGetProperties.Object"/>
			<xs:enumeration value="canViewContent.Object"/>
			<xs:enumeration value="canUpdateProperties.Object"/>
			<xs:enumeration value="canMove.Object"/>
			<xs:enumeration value="canMove.Target"/>
			<xs:enumeration value="canMove.Source"/>
			<xs:enumeration value="canDelete.Object"/>
			<xs:enumeration value="canDeleteTree.Folder"/>
			<xs:enumeration value="canSetContent.Document"/>
			<xs:enumeration value="canDeleteContent.Document"/>
			<xs:enumeration value="canAddToFolder.Object"/>
			<xs:enumeration value="canAddToFolder.Folder"/>
			<xs:enumeration value="canRemoveFromFolder.Object"/>
			<xs:enumeration value="canRemoveFromFolder.Folder"/>
			<xs:enumeration value="canCheckout.Document"/>
			<xs:enumeration value="canCancelCheckout.Document"/>
			<xs:enumeration value="canCheckin.Document"/>
			<xs:enumeration value="canGetAllVersions.VersionSeries"/>
			<xs:enumeration value="canGetObjectRelationships.Object"/>
			<xs:enumeration value="canAddPolicy.Object"/>
			<xs:enumeration value="canAddPolicy.Policy"/>
			<xs:enumeration value="canRemovePolicy.Object"/>
			<xs:enumeration value="canRemovePolicy.Policy"/>
			<xs:enumeration value="canGetAppliedPolicies.Object"/>
			<xs:enumeration value="canGetACL.Object"/>
			<xs:enumeration value="canApplyACL.Object"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="enumUsers">
		<xs:restriction base="xs:string">
			<xs:enumeration value="cmis:user">
				<xs:annotation>
					<xs:documentation>
						This user can be used on setting ACLs to specify
						the permission this
						user context should have.
			</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<!-- ACL on objects -->
	<xs:complexType name="cmisAccessControlPrincipalType">
		<xs:sequence>
			<xs:element name="principalId" type="xs:string"/>

			<xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="cmisAccessControlEntryType">
		<xs:sequence>
			<xs:element name="principal" type="cmis:cmisAccessControlPrincipalType"/>
			<xs:element maxOccurs="unbounded" minOccurs="1" name="permission" type="xs:string"/>
			<xs:element name="direct" type="xs:boolean"/>

			<xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="cmisAccessControlListType">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="1" name="permission" type="cmis:cmisAccessControlEntryType"/>
			<xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="cmisACLCapabilityType">
		<xs:sequence>
			<xs:element name="propagation" type="cmis:enumACLPropagation"/>
			<xs:element maxOccurs="unbounded" minOccurs="1" name="permissions" type="cmis:cmisPermissionDefinition"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="mapping" type="cmis:cmisPermissionMapping"/>
		</xs:sequence>
	</xs:complexType>

	<!-- renditions -->
	<xs:simpleType name="enumCapabilityRendition">
		<xs:restriction base="xs:string">
			<xs:enumeration value="none"/>
			<xs:enumeration value="read"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="enumRenditionKind">
		<xs:restriction base="xs:string">
			<xs:enumeration value="cmis:thumbnail"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="cmisRenditionType">
		<xs:sequence>
			<xs:element name="streamId" type="xs:string"/>
			<xs:element name="mimetype" type="xs:string"/>
			<xs:element name="length" type="xs:integer"/>
			<xs:element name="kind" type="xs:string"/>
			<xs:element minOccurs="0" name="title" type="xs:string"/>
			<xs:element minOccurs="0" name="height" type="xs:integer"/>
			<xs:element minOccurs="0" name="width" type="xs:integer"/>
			<xs:element minOccurs="0" name="renditionDocumentId" type="xs:string"/>

			<xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
		</xs:sequence>
	</xs:complexType>


	<!-- elements -->
	<xs:element name="allowableActions" type="cmis:cmisAllowableActionsType">
		<xs:annotation>
			<xs:documentation>
				This is the root tag for a CMIS AllowableActions
				Document Type
			</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:element name="query" type="cmis:cmisQueryType">
		<xs:annotation>
			<xs:documentation>
				This is the root tag for a CMIS Query Document Type
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="acl" type="cmis:cmisAccessControlListType">
		<xs:annotation>
			<xs:documentation>
				This is the root tag for a CMIS ACL Document Type
			</xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>
<!-- EOF -->
